.board {
    border-collapse: collapse;
    background-color: #004080;
    margin-top: 20px;
    border-radius: 12px;
    overflow: hidden;

}

.cell {
    width: 60px;
    height: 60px;
    padding: 5px;
}

.hole {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-color: white;
    margin: auto;
    transition: background-color 0.3s;
}

.cell.player1 .hole {
    background-color: red; /* jeton joueur 1 */
}

.cell.player2 .hole {
    background-color: yellow; /* jeton joueur 2 */
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    padding: 10px; /* ajoute de l’espace autour */
    border-radius: 12px; /* arrondir les coins si tu veux */
}


td {
    width: 63px;
    height: 63px;
    border: 2px solid #031c35;
    border-radius: 50%;
    padding: 0;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 10px;
}

.btnj {
    width: 60px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(145deg, #b2f2bb, #a8e6cf);
    color: #004d00;;
    box-shadow: 3px 3px 6px #aaa, -3px -3px 6px #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
}

.btnj:hover {
    background: linear-gradient(145deg, #d1d1d1, #f0f0f0);
    transform: translateY(-2px);
    box-shadow: 4px 4px 8px #aaa, -4px -4px 8px #fff;
}

.btnj:active {
    transform: translateY(1px);
    box-shadow: inset 2px 2px 4px #aaa, inset -2px -2px 4px #fff;
}