<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Puissance 4 | Accueuil</title>
    <link rel="stylesheet" href="../static/start.css">
<link rel="stylesheet" href="https://cartr.gitlab.io/undertale-fonts/determination-mono.css">
</head>
<body>
    <header>
        <h1 class="big-title">Puissance 4 codé en GOLANG + HTML</h1>
    </header>
    
    <div class="wall-grid"></div>
    <div class="horizon-fade"></div>
    <div class="avatar-container">
    <div class="avatar">
        <img src="../static/images/frog.png" alt="Illustration du personnage" />
    </div>
    
    <div class="bubble">
        <p class="txt">
            Salut jeune aventurier !
            <br><br>Bienvenue dans un jeu de Puissance 4.<br>
            Le "backend" est codé en Golang le "Frontend" est codé en HTML.<br>
        </p>
        <div class="container">
            <a href="/play">
                <button class="start-btn">Press START</button>
            </a>
            
        </div>
    </div>
    </div>
</body>
</html>
