<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Puissance 4 | Accueuil</title>
    <link rel="stylesheet" href="/static/start.css">
    <link rel="stylesheet" href="https://cartr.gitlab.io/undertale-fonts/determination-mono.css">
</head>
<body>
    <header class="neon-panel title-panel">
        <h1 class="big-title">PUISSANCE 4 CODÉ<br>EN GOLANG + HTML</h1>
    </header>
    
    <div class="avatar-container">
    <div class="avatar">
        <img src="/static/images/frog.png" alt="Illustration du personnage">
    </div>
    <div class="grid-wall"></div>
    <div class="grid-floor"></div>
    <div class="neon-panel bubble glass">
        <p class="txt">
            Bienvenue dans un jeu de Puissance 4.
            <br><br>Le "backend" est codé en Golang 
            <br>le "Frontend" est codé en HTML.<br>
            <br>Choisissez votre difficuté et découvrez de nouvelles variantes du jeu.
            <br><br>Amusez-vous bien !
        </p>
        <div class="container">
            <a href="/init">
                <button class="start-btn">START</button>
            </a>
        </div>
    </div>
    </div>
</body>
</html>
