<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Personnalisation</title>
    <link rel="stylesheet" href="/static/init_game.css">
</head>
<body>
    <div class="container">
        <h1 class="big-title">⚙️ Paramètres de jeu ⚙️</h1>

        <form action="/start" method="POST">
            <input type="text" name="j1" placeholder="Pseudo Joueur 1" required class="input">
            <input type="text" name="j2" placeholder="Pseudo Joueur 2" required class="input input2">
            <button type="submit" class="btn">▶️ Commencer la partie</button>
        </form>
    </div>
</body>
</html>